@font-face {
    font-family: "roboto";
    src: url(../Jules/fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: "caramel";
    src: url(../Jules/fonts/Caramel.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0; /* margin + padding vult zo hele scherm. */
    background-color: rgb(242, 234, 228)
}

header {
    font-family: "caramel";
    background-image: url(../Jules/images/background.png);
    background-size: cover;
    height: 200px;
    /* background-color: rgb(166, 134, 106);
    align-content: center; */
}

p {
    font-family: "roboto";
    padding: 25px;
    color:rgb(63, 40, 27);
    margin: 25px;
}

nav {
    font-family: "roboto";
    background-color: rgb(217, 203, 191);
}

ul {
    list-style-type: none;
    font-family: "roboto";
    padding: 25px;
}



h1 {
    font-size: 4em;
    color: rgb(217, 203, 191);
    margin: 0;
    text-align: center;
    padding: 1em .5em; 
}

@media (width > 480px) {
    h1 {
        font-size: 3.5em;
        padding: 1em .5em;  
    }
}

@media (width > 980px) {
    h1 {
        font-size: 4.5em;
        padding:.5em;  
    }
}

.card {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1em;
    margin: 35px;


    img {
        grid-column: 1;
        grid-row: 1/3;
        max-width: 100%;
        height: auto;
        border: solid 2px;
        border-color: rgb(166, 134, 106);
    }

    h4 {
        margin: 0 0 1em 0;
        color:rgb(63, 40, 27);
        font-family: "caramel";
        font-size: 1.5em;
        
    }

    a {
        color:rgb(63, 40, 27);
        text-decoration: none;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.card__content {
    grid-column: 2;
}

/* Pseudo elements :before en :after */
.card a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a:hover {
    color: rgb(255, 145, 0);
}


@media (width > 980px) {
    .card {
        grid-template-columns: 30% 40% 30%;
    }

    article img {
        grid-column: 1;
    }

    article div {
        grid-column: 2;
    }

    article:nth-of-type(2n) {
        grid-template-columns: 30% 40% 30%;
    }

    article:nth-of-type(2n) div {
        grid-column: 2;
        text-align: right;
    }

    article:nth-of-type(2n) > img {
    grid-column: 3;
    }
}


footer {
    background: #745C4D;
    text-align: center;

    .kopje {
        font-family: 'caramel';
        font-size: 2em;
        color: #f2ebe4;
    }
    
    h2 {
        font-family: 'caramel';
        font-size: 2em;
        color: #f2ebe4;
    }

    img {
        object-fit: cover;
        width: 25px;
        height: 25px;
        margin: 10px; 
        border: none;
    }
}

.lijst {
    text-size-adjust: 50%;
    width: 100%;
    background: #745C4D;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    text-align: auto;
    font-size: small;
    color:#f2ebe4;
}

h3 {
    margin: 0;
    padding: 5px;
}

ul {
    padding: 2.5px;
    margin: 0;
}

section {

}

a {
    text-decoration: none;
    color: #f2ebe4;

}