/* gebruikte fonts */
@font-face {
    font-family: "roboto";
    src: url(../Jules/fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: "caramel";
    src: url(../Jules/fonts/Caramel.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;                         /* margin + padding vult zo hele scherm, text-align zet tekst in t midden. */
    scroll-behavior: smooth;
}

header {
    font-family: "caramel";
    background-image: url(../Jules/images/background.png);
    background-size: cover;
    height: 200px;
}


p {
    font-family: "roboto";
    color:rgb(63, 40, 27);
}
h1 {
    font-size: 4em;
    color: rgb(217, 203, 191);
    margin: 0;
    text-align: center;
    padding: 50px;                              /* de padding zorgt ervoor dat ook van boven/onder in t midden staat */
}
h2 {
    font-size: 2em;
    font-family: "roboto";
    color:rgb(63, 40, 27);
}
h3 {
    font-size: 2em;
    font-family: "roboto";
}

section {
    padding: 5px;                               /* laat de section op de header aansluiten. */
}

section.inleiding {
    background-color: rgb(242, 234, 228);
}

section.mugshots {
    padding-top: 45px;                          /* meer ruimte tussen mugshots en inleiding */
    background-color: rgb(242, 234, 228);


    div {                                        /* foto's naast elkaar. */
        display: grid;
        gap: .5em;
        grid-template-columns: 1fr 1fr;
        align-content: normal;
        align-content: center;
    }
   
}

.btn {
    font-family: "roboto";
    font-size: 16px;
    border-radius: 20px;                        /* zorgt voor ronde randen button */
    border: solid 2px;
    border-color: rgb(166, 134, 106);
    min-height: 300px;
    min-width: 120px;
    background-color: rgb(217, 203, 191);
}

.btn:hover {
    color: rgb(255, 145, 0);
}

/* opmaak afbeeldingen mugshots */
img {
    width: 10em;
    border: solid 5px;
    border-color: rgb(166, 134, 106);
}


/* opmaak van link zelf */
a:link {
    color: rgb(115, 78, 56);
    font-family: "roboto";
    font-size: 16px;
    text-decoration: none;                      /* geen lijn onder de link */
}

/* opmaak na het bezoeken vd link */
a:visited {
    color: rgb(63, 40, 27);
}

/* opmaak als je met muis over link heen gaat */
a:hover {
    color: rgb(255, 145, 0);
}

