body {
    Background-color:rgba(183, 174, 174, 0.575);
    font-family: "Caramel", cursive;
    font-weight: normal;
}

h1 {
    background-color: #49382E;
    color: #D9CBBF;
    text-align: center;
    
}

h2 {
    text-align: center;
    color: #49382E;
}

p.p1 {
    text-align: center;
    color: #49382E;
}


.container-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-auto-rows: 100px;

}



.MainSiteGrid {
grid-column: 1;
grid-row: 1;
background-color: #49382E;
color: white;
text-align:center;
font-size: 20px;
}


.MainSiteLink {
    color: #D9CBBF;
}


.JulesGrid {
grid-column: 1;
grid-row: 2;
background-color: #49382E;
color: white;
text-align:center;
font-size: 20px;
}


.JulesSquadPage {
    color: #D9CBBF;
}


.KimGrid {
    grid-column: 1;
    grid-row: 3;
    background-color: #49382E;
    color: white;
    text-align:center;
    font-size: 20px;
}


.KimsSquadPage {
    color: #D9CBBF;
}


.RobinGrid {
    grid-column: 1;
    grid-row: 4;
    background-color: #49382E;
    color: white;
    text-align:center;
    font-size: 20px; 
}


.RobinsSquadPage {
    color: #D9CBBF;
}