header {
    background-size: cover;
    font-family: "caramel";
    height: 200px;
}

body {
    
    font-weight: normal;
    background-image: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;

}

h1 {
    color: #D9CBBF;
    text-align: center;
    font-family: "caramel";
    margin-top: 1cm;
    
    
}

h2 {
    text-align: center;
    color: #D9CBBF;
}

p.p1 {
    text-align: center;
    color: #D9CBBF;
}


/*.container-grid {
    display: grid;
    grid-template-columns: repeat(autofit);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 2cm;
    margin-left: 100px;    
    margin-right: 100px; 
    


}*/

.container-grid {
    

    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    margin-left: 150px;
    margin-right: 150px;
    gap: 15px;
    
    margin-top: 2cm;

}

.grid-container2 {
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    
}


.sectie1 {
    
    color: #D9CBBF;
    text-align: center;
    border-style: groove;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 1cm;    
    margin-top: 2cm; 
}

.MainSiteGrid {
grid-column: 1;
grid-row: 1;
color: #49382E;
text-align:center;
font-size: 20px;
background-color: #927d71;



}


.MainSiteLink {
    color: #D9CBBF;
    padding: 1%;
}


.JulesGrid {
grid-column: 1;
grid-row: 2;
color: white;
text-align:center;
font-size: 20px;
background-color: #5b4a41;

}

.JulesSquadPage {
    color: #D9CBBF;
    padding: 1%;

}


.KimGrid {
    grid-column: 1;
    grid-row: 3;
    color: white;
    text-align:center;
    font-size: 20px;
    background-color: #927d71;
  
}


.KimsSquadPage {
    color: #D9CBBF;
    padding: 1%;

}


.RobinGrid {
    grid-column: 1;
    grid-row: 4;
    color: white;
    text-align:center;
    font-size: 20px; 
    background-color: #5b4a41;
    
}


.RobinsSquadPage {
    color: #D9CBBF;
    padding: 1%;

}


@media (max-width:768px) {
    .container-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .container-grid2 {
        grid-template-columns: auto;
    }

    p {
        grid-row:auto;
    }
}