html {
    text-align: center;
}


body {
    Background-color: #F1EAE5;
    font-family: "Caramel";
    font-weight: normal;
}

h1 {
    background-color: #49382E;
    color: white;
    text-align: center;
}

.container-grid {

    display: grid;
    border: 1px solid #49382E;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    /*grid-gap: 20px;*/
    /*grid-auto-rows: 290px;*/
    


}


p {
    color: #49382E;
    margin-top: 28px;
}


img {
    border: 2px solid #49382E;
    width: 260px;
    height: 260px;
    float: left;
    /*margin-left: 28px;
    margin-right: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-height: 100%;
    grid-row: auto;*/
    
}


img.img-tth, img.img-kmh, img.img-wbh, img.img-stdHva {
    float: right; 
}


button {
    background-color: #49382E;
    color: white;
}

.sectie1 {
    grid-column: 1;
    grid-row: 1;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;    
}



.sectie2 {
    grid-column: 1;
    grid-row: 2;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    /*grid-gap: 20px;*/
    border-style:groove;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;
    width: fit-content;

}


.sectie3 {
    grid-column: 1;
    grid-row: 3;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;
}


.sectie4 {
    grid-column: 1;
    grid-row: 4;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    border-style:groove;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;
}


.sectie5 {
    grid-column: 1;
    grid-row: 5;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;

}


.sectie6 {
    grid-column: 1;
    grid-row: 6;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    border-style:groove;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;

}


.sectie7 {
    grid-column: 1;
    grid-row: 7;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;

}


.sectie8 {
    grid-column: 1;
    grid-row: 8;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    border-style:groove;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: auto;

}


@media (max-width:768px) {
    .container-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    p {
        grid-row:auto;
    }
}