html {
    text-align: center;
}


body {
    Background-color: white;
    font-family: "Montserrat";
    font-weight: normal;
}

h1 {
    background-color: cyan;
    color: black;
    text-align: center;
}


.grid-container3 {
    border: 10px solid cyan;
    margin-left: 50px;
    margin-right: 50px;
}




.container-grid {

    display: grid;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    margin-left: 0px;
    margin-right: 0px;
    gap: 15px;
    justify-content: center;
    margin-top: 1cm;
    
    /*grid-gap: 20px;*/
    /*grid-auto-rows: 290px;*/
    


}


p {
    color: #49382E;
    margin-top: 28px;
}


img {
    /*border: 2px solid cyan;*/
    width: 260px;
    height: 260px;
    float: left;
    /*margin-left: 28px;
    margin-right: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-height: 100%;
    grid-row: auto;*/
    
}


/*img.img-tth, img.img-kmh, img.img-wbh, img.img-stdHva {
      float: right; 
    border: 2px solid palevioletred;
}*/


button {
    background-color: cyan;
    color: black;
}

.button2 {
    background-color: palevioletred;
    color: black;
}

.sectie1 {
    grid-column: 1;
    grid-row: 1;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;   
    background-color: palevioletred; 
}



.sectie2 {
    grid-column: 1;
    grid-row: 2;
    color: black;
    text-align: center;
    font-size: 17px;
    /*grid-gap: 20px;*/
    
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    width: fit-content;
    background-color: cyan; 

}


.sectie3 {
    grid-column: 1;
    grid-row: 3;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: palevioletred; 
}


.sectie4 {
    grid-column: 1;
    grid-row: 4;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: cyan; 
}


.sectie5 {
    grid-column: 1;
    grid-row: 5;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: palevioletred; 

}


.sectie6 {
    grid-column: 1;
    grid-row: 6;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: cyan; 
}


.sectie7 {
    grid-column: 1;
    grid-row: 7;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: palevioletred; 

}


.sectie8 {
    grid-column: 1;
    grid-row: 8;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: cyan; 

}




.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: cyan;
    
    margin-right: 25px;
    
}


.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: cyan;
}


.logo_container {
    height: 100%;
    display: table;
    float: left;
}


.logo_container h1 {
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200; 
}


.logo_container h1 span {
    font-weight: 800;

}


.navigation {
    float: right;
    height: 100%;

}




.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}


.navigation a:last-child {
    padding-right: 0;
    
}


.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: 'Montserrat';
    font-size: 16px;
}




footer {
    background-color: cyan;
    color: black;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}


.footer_info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 1cm;
    

}


.footer_info .footer_width {
    padding: 0 15px;
}


.footer_info h2 {
    margin-bottom: 50px;
    margin-top: 10px;

}


.about , .contact {
    width: 40%;
}


.link {
    width: 20;
}



@media (max-width:768px) {
    .container-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    p {
        grid-row:auto;
    }
}