img {
    border: 2px solid #A1876E;
    object-fit: cover;
     width: 250px;
    height: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2ebe4;
    color: #4d3629;
    line-height: 1.6;
    display: grid;

}

header {
    background-color: #8b6a50;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;
    color: #f2ebe4;
}

.content {
    width: 80%;
    margin: 50px auto;
}

.image {
    background-color: #a08468;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.text {
    flex: 2;
}

.text h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3C291D;
}

.text p {
    font-size: 1em;
    color: #4d3629;
    max-width: 500px;
}

footer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #F1EAE5;
    margin: auto;
    text-align: center;
}
